@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome in the Movie Service</h1>
        <a asp-controller="Movies" asp-action="Index" type="button" class="btn btn-danger btn-lg btn-block">Movie Library</a>
    </div>
