@{
    ViewData["Title"] = "About";
}
<h1 class="text-center">@ViewData["Title"]</h1>

    <div class="container">
        <div class="card border-0 shadow my-5 text-center ">
            <div class="card border-0">
                <div class="card-footer bg-secondary text-white">
                    <h3> ⓘ Important information </h3>
                </div>
            </div>
            <div class="card border-0">
                <h1 class="card-text">Movie Service </h1>
                <h4 class="card-text"><b>Subject:</b> Tworzenie aplikacji WEB z ASP.NET MVC 4 </h4>
                <h4 class="card-text"><b>Instructor:</b> dr inż. Leszek Puzio </h4>
                <h4 class="card-text"><b>Group:</b> 6IID-ZP/2018-SPL03</h4>
                <h4 class="card-text" style="margin-bottom: 5px">
                </h4>
            </div>

            <div class="card-footer text-muted bg-secondary">
                <a class="btn btn-dark fab fa-github"
                   href="https://github.com/DowelMartin/MovieService/tree/test">
                    Check it out on GitHub!
                </a>
            </div>
        </div>
    </div>